includes:
    - vendor-bin/phpstan/vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor-bin/phpstan/vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor-bin/phpstan/vendor/phpstan/phpstan-symfony/extension.neon
    - vendor-bin/phpstan/vendor/phpstan/phpstan-symfony/rules.neon
    - vendor-bin/phpstan/vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon

parameters:
    level: max
    bootstrapFiles:
        - vendor-bin/phpunit/vendor/autoload.php
    paths:
        - src
        - tests
    excludes_analyse:
        - */src/DependencyInjection/Configuration.php
